.card-area {
    height: 100vh;
    display: flex;
    flex-direction: columns;
    justify-content: space-between;
    padding: 30px;
    font-family: open-sans;
    font-weight: 500;
}

button {
    height: 30px;
    margin-top: 20px;
    width: 100px;
    border: 2px solid #C17538; 
    border-radius: 5px;
    background-color: #F3F1EC;
    color: #C17538;
    &:hover {
        background-color: #C17538;
        color: #FFFFFF;
    }

}

select {
    width: 350px;
    margin: 20px;
    height: 30px;
    border: 2px solid #C17538; 
    color: #C17538;
    background-color: #F3F1EC;

}

.column {
    text-align: center;
}