.chosenArticle {
    width: 1330px;
}

.container {
    width: 800px;
    position: absolute;
    right: 280px;
    top: 100px;
}

h2 {
    font-family: 'Playfair Display', serif;
    color:#6B7A8F;
}

#author {
    font-family:'Open Sans', sans-serif;
    color: #6B7A8F;
}
