.card {
    width: 350px;
    height: 400px;
    border: 3px solid #6B7A8F; 
    margin-left: 20px;
    margin-top: 30px;
    &:hover {
        border: 3px solid #C17538;
    }
}
.top {
    background-color:  #6B7A8F;
    margin-bottom: 20px;
    padding: 10px;
    &:hover {
        background-color:#C17538;
    }
}

.bottom {
    padding: 10px;
    position: absolute;
    bottom: 0;
}

.title {
    color: #FFFFFF;
    font-size: 1.3em;
    padding-bottom: 15px;
}

.go {
    height: 30px;
    width: auto;
}

.saveBtn {
    height: 30px;
    margin-right: 5px;
}

.completeBtn {
    height: 30px;
}

p {
    padding: 10px;
}
