.card {
    width: 350px;
    height: 300px;
    border: 2px solid #6B7A8F; 
    margin-left: 20px;
    margin-top: 30px;
    padding: 10px;
}

h4 {
    color: #C17538;
    &:active, &:hover{
        background-color: #C17538;
        color: #FFFFFF;
    }
}