* {
    box-sizing: border-box;
    margin: 0px; 
    padding: 0px; 
  }
  

h1 {
    font-family: 'Playfair Display', serif;
    font-size: 2.8em;
    font-weight: 700;
    color: #FFFFFF;
    padding-left: 20px;
    margin-bottom: 5px;
    margin-top: 20px;
}

h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    font-weight: 400;
    color: #FFFFFF;
    margin-top: 3px;
}

main {
    background-color: #F3F1EC;
    display: grid;
    grid-template-columns: 1fr 3fr;
}