h1 {
    font-family: 'Playfair Display', serif;
    font-size: 2em;
    font-weight: 700;
    
}

h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    font-weight: 400;
}

main {
    background-color: #F3F1EC;
    display: grid;
    grid-template-areas: 
        "nav" "container" ;
    grid-template-columns: 1fr 3fr;
}